.js-tabLike .admin-menu-show,
.js-tabLike #t_MenuNav_7,
.js-tabLike #t_MenuNav_8 {
  display: none;
}


div#pressReleaseTable_paginate {
  display: flex;
  justify-content: end;
  gap: 15px;
  cursor: pointer;
}

div#pressReleaseTable_paginate span {
  display: flex;
  gap: 10px;
}

div#pressReleaseTable_paginate a.paginate_button {
  color: #333;
  /* change this to your preferred color */
  text-decoration: none;
  /* remove underline */
}